services:
  ws:
    build:
      context: .
      dockerfile: docker/ws.debug.nosan.Dockerfile
      network: host
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    stdin_open: true
    tty: true
