services:
  ws:
    build:
      context: .
      dockerfile: docker/ws.debug.Dockerfile
      network: host
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    stdin_open: true
    tty: true
    environment:
      ASAN_OPTIONS: detect_leaks=0,abort_on_error=1,fast_unwind_on_malloc=0
      UBSAN_OPTIONS: print_stacktrace=1
